<!-- <table> -->
<!--   <li *ngFor="let dk of getEntries((status | async)?.diffKeys)"> -->
<!--     <ul> -->
<!--       	<p>{{ dk.key }}: <a [routerLink]="['/diffs', dk.value.key, 'none', 'none']" target="_blank">Show type regressions</a></p> -->
<!--       	<p> -->
<!-- 	      Type regressions: {{dk.value.diffObservationCount}}, -->
<!-- 	      clients with type regressions: {{dk.value.diffClientCount}}, -->
<!-- 	      total number of clients: {{dk.value.totalClientCount}}, -->
<!-- 		  model size (number of paths): {{dk.value.totalObservationCount}} -->
<!--   		</p> -->
<!--     </ul> -->
<!--   </li> -->
<!-- </table> -->
<table class="table table-striped">
	<thead>
	<tr>
		<th>Benchmark</th>
		<th>Type regressions</th>
		<th>Total clients</th>
		<th>Clients with type regressions</th>
		<th>Accumulated model size (number of paths)</th>
	</tr>
	</thead>
	<tr *ngFor="let dk of getEntries((status | async)?.diffKeys)">
		<td><a [routerLink]="['/diffs', dk.value.key, 'none', 'none']" target="_blank">{{dk.key}}</a></td>
		<td>{{dk.value.diffObservationCount}}</td>
		<td>{{dk.value.totalClientCount}}</td>
		<td>{{dk.value.diffClientCount}}</td>
		<td>{{dk.value.totalObservationCount}}</td>
	</tr>
</table>
