<!-- <h3>Diffs</h3> -->

<!-- <table> -->
<!--   <li *ngFor="let versionEntry of getEntries((diffResult | async), cmpEntries)"> -->
<!--     <p>{{versionEntry.key}}</p> -->
<!--     <ul> -->
<!--       <li *ngFor="let pair of versionEntry.value.paths"> -->
<!--         <div> -->
<!--           <a [routerLink]="['/diffs', curKey | async, versionEntry.key, pathId(pair[0])]">{{pair[0]}}:</a> -->
<!--           <span [innerHtml]="visualize(pair[1])"></span> -->
<!--           <div *ngIf="showStack(versionEntry.key, pair[0]) | async"> -->
<!--             <pre> -->
<!--               {{prettyStackTrace(pair[1])}} -->
<!--             </pre> -->
<!--           </div> -->
<!--         </div> -->
<!--       </li> -->
<!--     </ul> -->
<!--   </li> -->
<!-- </table> -->
<div class="well" *ngFor="let versionEntry of getEntries((diffResult | async), cmpEntries)">
    <h3>{{versionEntry.key}}</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Path (Click for stack)</th>
            <th>Type regression</th>
        </tr>
        </thead>
        <tr *ngFor="let pair of versionEntry.value.paths">
            <td><a [routerLink]="['/diffs', curKey | async, versionEntry.key, pathId(pair[0])]">{{pair[0]}}:</a></td>
            <td><p [innerHtml]="visualize(pair[1])"></p><td>
            <div *ngIf="showStack(versionEntry.key, pair[0]) | async">
                <pre>
                  {{prettyStackTrace(pair[1])}}
                </pre>
            </div>
        </tr>

    </table>
</div>


