<div>
  <div class="row" *ngFor="let libtoClientStatus of getEntries((groupedStatus | async))">
    <div class="col-md-12">
      <h3>{{libtoClientStatus.key}}</h3>

      <table class="table table-condensed table-responsive">
        <tr *ngFor="let libraryVersionStatus of getEntries(libtoClientStatus?.value, true)">
          <th>
            {{ libraryVersionStatus.key }} <p>
            <a href="{{'#/diffs/' + getSingleClientDiffKey(libraryVersionStatus.key, libtoClientStatus.key)}}/none/none" target="_blank">Diff</a>
          </th>
          <td *ngFor="let status of getEntries(libraryVersionStatus.value, true)">
            <span *ngIf="status.value.short.indexOf('Tests failed') >= 0">
              <span class="label label-danger small" title="{{status.value.short}}">
                {{status.key.split('@')[1]}}
              </span>
              <span class="small">
               ({{ status.value.observations }})
              </span>
            </span>
            <span  *ngIf="status.value.short.indexOf('Cache file was not present and received request to avoid running') >= 0">
              <span class="label label-primary small" title="{{status.value.short}}">
                {{status.key.split('@')[1]}}
              </span>
            </span>
            <span  *ngIf="status.value.short.indexOf('Tests succeeded, learned can be loaded') >= 0">
              <span class="label label-success small" title="{{status.value.short}}">
                {{status.key.split('@')[1]}}
              </span>
              <span class="small">
               ({{ status.value.observations }})
              </span>
            </span>
            <span  *ngIf="status.value.short.indexOf('Tests succeed but got error reading learned outcome') >= 0">
              <span class="label label-warning small" title="{{status.value.short}}">
                {{status.key.split('@')[1]}}
              </span>
            </span>
            <span  *ngIf="status.value.short.indexOf('Failure while running kue job') >= 0">
              <span class="label label-warning small" title="{{status.value.short}}">
                {{status.key.split('@')[1]}}
              </span>
            </span>
            <p class="small">
              <a href="{{'#/log/' + status.value.cacheFileKey.join('-')}}" target="_blank">Log</a>
              <a href="{{'#/observations/' + status.value.cacheFileKey.join('-')}}" target="_blank">Obs</a>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
